<div class="row">
  <div class="span8">
	<h1>{{ page.title }}</h1>
    <div class="date"><span>Date:{{ page.date | date_to_long_string }}</span></div>
	<hr/>
	<div class="well">
    {{ content }}
	</div>
	
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
	
  </div>
  
  <div class="span4">
    
	<div class="alert alert-error">
	<h4>Blog Posts</h4>
	</div>
	<ul class="posts">
	  {% for post in site.posts %}
	   <li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></li>
	 {% endfor %}
	</ul>
	
	<div class="alert alert-error">
	<h4>tags</h4>
	</div>
	<ul class="tag_box inline">
	  {% assign tags_list = site.tags %}  
	  {% include JB/tags_list %}
	</ul>

  </div>
</div>

