<div class="row">
  <div class="span8">
	<h1>{{ page.title }}</h1>
    <div class="date"><span>Date:{{ page.date | date_to_long_string }}</span></div>
	<hr/>
	<div class="well">
    {{ content }}
	</div>
	
	<div class="well">
    <!-- JiaThis Button BEGIN -->
<div id="jiathis_style_32x32">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_renren"></a>
	<a class="jiathis_button_kaixin001"></a>
	<a href="http://www.jiathis.com/share?uid=893291" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=893291" charset="utf-8"></script>
<!-- JiaThis Button END -->
<!-- UJian Button BEGIN -->
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?type=slide"></script>
<!-- UJian Button END -->
	
	</div>
	
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
	
  </div>
  
  <div class="span4">
    
	<div class="alert alert-error">
	<h4>Blog Posts</h4>
	</div>
	<ul class="posts">
	  {% for post in site.posts %}
	   <li><strong><a href="{{ post.url }}">{{ post.title }}</a></strong></li>
	 {% endfor %}
	</ul>
	
	<div class="alert alert-error">
	<h4>tags</h4>
	</div>
	<ul class="tag_box inline">
	  {% assign tags_list = site.tags %}  
	  {% include JB/tags_list %}
	</ul>

  </div>
</div>

